<%= form_for([micropost, @comment]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Beat 'em down!" %>
  </div>
  <%= f.submit "Comment", class: "btn btn-large btn-primary" %>
<% end %>